@page
@model Assignment2.Pages.NewsArticles.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h1>Edit</h1>

<h4>NewsArticle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsArticle.NewsArticleId" />
            <div class="form-group">
                <label asp-for="NewsArticle.NewsTitle" class="control-label"></label>
                <input asp-for="NewsArticle.NewsTitle" class="form-control" />
                <span asp-validation-for="NewsArticle.NewsTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsArticle.Headline" class="control-label"></label>
                <input asp-for="NewsArticle.Headline" class="form-control" />
                <span asp-validation-for="NewsArticle.Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsArticle.NewsContent" class="control-label"></label>
                <input asp-for="NewsArticle.NewsContent" class="form-control" />
                <span asp-validation-for="NewsArticle.NewsContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsArticle.NewsSource" class="control-label"></label>
                <input asp-for="NewsArticle.NewsSource" class="form-control" />
                <span asp-validation-for="NewsArticle.NewsSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsArticle.Category" class="control-label"></label>
                <select asp-for="NewsArticle.CategoryId" asp-items="Model.CategoryList" class="form-control"></select>
            </div>
            <div class="form-group">
                <select asp-for="NewsArticle.NewsStatus" class="form-control">
                    <option value="false">Inactive</option>
                    <option value="true">Active</option>
                </select>
            </div>
            
            @*
            <div class="form-group">
                <label asp-for="NewsArticle.NewsStatus" class="control-label"></label>
                @Html.DropDownList("NewsStatus", ViewBag.StatusList as List<SelectListItem>, new { @class = "form-control" })
                <span asp-validation-for="NewsArticle.NewsStatus" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <label for="NewsArticle.Tags">Tags</label>
                @{
                    var selectedTags = Model.SelectedTagIds as List<int> ?? new List<int>();
                }
                <select id="tag-select" class="chosen-select form-control" name="Tags" multiple>
                    @foreach (var tag in Model.TagList)
                    {
                        if (selectedTags.Contains(int.Parse(tag.Value)))
                        {
                            <option value="@tag.Value" selected>@tag.Text</option>
                        }
                        else
                        {
                            <option value="@tag.Value">@tag.Text</option>
                        }
                    }
                </select>
            </div>
            *@

            <div class="form-group">
                <label for="tags">Tags</label>
                <div>
                    @foreach (var tag in Model.TagList)
                    {
                        <div class="form-check">
                            <input type="checkbox" name="SelectedTagIds" value="@tag.Value"
                                   class="form-check-input" id="tag-@tag.Value"
                            @(Model.SelectedTagIds.Contains(int.Parse(tag.Value)) ? "checked" : "") />
                            <label class="form-check-label" for="tag-@tag.Value">@tag.Text</label>
                        </div>
                    }
                </div>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen({
                no_results_text: "Không tìm thấy kết quả nào!"
            });
        });
    </script>
}

